<!DOCTYPE html>
<html ng-app="probna">
<head >
  <!--<script src="controller/routes.js"></script>-->
  <!--<script src="controller/allUsersCtrl.js"></script>-->
  <title>PlacesToEat</title>
  <%= csrf_meta_tags %>
  <script src="assets/jquery.js"></script>
  <script src="assets/javascripts/angular.js"></script>
  <script src="assets/javascripts/angular-route.js"></script>
  <script src="assets/javascripts/angular-route.js"></script>
  <script src="assets/javascripts/reservationCtrl.js"></script>
  <script src="assets/javascripts/controller/routes.js"></script>
  <base href="/">
  <%= javascript_include_tag "application" %>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag "application" %>
</head>
<body >
<header class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to "Places To Eat", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a translate href="#"> HOME </a></li>
        <li>
          <!--<a href="#reservation" translate> MAKE_RESERVATION </a></li>-->
      <!--  <li><%= link_to "Help",   '#' %></li>-->
       <% if logged_in? %>

            <li>
              <a href="#reservation" translate> MAKE_RESERVATION </a></li>
            <li>
              <div ng-controller="DropdownCtrl" class="btn-group" dropdown is-open="status.isopen">
                <button type="button" class="button-nav btn btn-primary dropdown-toggle" dropdown-toggle>
                  <%= current_user.name %> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">

                  <li><a href="#profile" translate> EDIT_PROFILE </a></li>
                  <li class="dropdown-button" > <%= button_to "{{ 'LOGOUT' | translate }}", logout_path, :method => "delete", :class => "button" %></li>
                </ul>
              </div>
            </li>
            <div ng-controller="messageCtrl">
              <div Message> </div>
            </div>

        <% else %>
            <li><a translate href="#login"> LOGIN </a></li>
        <% end %>
        <li class="language-icon-placeholder"> <a back-img={{url}} class="language-icon" ng-controller="translateController" ng-click="toggleLanguage()"></a></li>
      </ul>
    </nav>
  </div>
</header>
<!--<a href="#/allUsers"> All Users </a>-->

<div class="container-fluid">
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
