<!DOCTYPE html>
<html ng-app="probna">
<html>
<head >
  <!--<script src="angular.js"></script>-->
  <!--<script src="angular-route.js"></script>-->
  <!--<script src="jquery.js"></script>-->
  <!--<script src="controller/routes.js"></script>-->
  <!--<script src="controller/allUsersCtrl.js"></script>-->
  <title>PlacesToEat</title>
  <%= csrf_meta_tags %>
  <base href="/">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Places To Eat", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a translate href="#"> HOME </a></li>
      <!--  <li><%= link_to "Help",   '#' %></li>-->
        <% if logged_in? %>
            <li>
              <div class="btn-group" dropdown is-open="status.isopen">
                <button type="button" class="button-nav btn btn-primary dropdown-toggle" dropdown-toggle>
                  <%= current_user.name %> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#profile" translate> EDIT_PROFILE </a></li>
                  <li translate="LOGOUT" class="dropdown-button"> <%= button_to "LOGOUT", logout_path, :method => "delete", :class => "button" %></li>
                </ul>
              </div>
            </li>

        <% else %>
            <li><a translate href="#login"> LOGIN </a></li>
        <% end %>
        <li> <a back-img={{url}} class="language-icon" ng-controller="translateController" ng-click="toggleLanguage()"></a></li>
      </ul>
    </nav>
  </div>
</header>
<!--<a href="#/allUsers"> All Users </a>-->

<div class="container">
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
