<% provide(:title, "Log in") %>
<!--<h2>Log in</h2>-->
<!--<small style="text-align: center">testni podaci: uname: test1234@test.ba  pass:password1234</small>-->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

        <label for="session_email" translate>EMAIL</label>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <a href="#resetPassword"><i class="fa fa-comment"></i> (Forgot password) </a>
        <%= f.password_field :password, class: 'form-control' %>


        <%= f.submit "Log in", style: 'margin-top:9px;', class: "btn btn-primary" %>
    <% end %>

    <!--<p>New user? <a href="#signup"><i class="fa fa-comment"></i> Sign up now! </a></p>-->
    <%= link_to "Sign up now! ", signup_path %>
  </div>
</div>